
@{
    ViewBag.Title = "Page.Title";
}
<h1>@ViewBag.Message</h1>
<hr />
Author: <em>duc</em>
<h1 >@ViewBag.Message</h1>
<h2>@Model.msg</h2>
<h2>@Model.pgnum</h2>
<h2>@ViewBag.Date</h2>
@*<h2>@ViewBag.Date</h2>
<h2>@ViewBag.Page</h2>*@